<div class="container" style="max-width: 600px;">
  <h2 class="mb-4">編集</h2>

  <%= form_with model: @workout, local: true, class: "needs-validation" do |f| %>

    <!-- 日付・メモ・公開設定 -->
    <div class="mb-3">
      <%= f.label :date, "トレーニング日", class: "form-label" %>
      <%= f.date_field :date, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :memo, "一言メモ", class: "form-label" %>
      <%= f.text_area :memo, rows: 5, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :is_public, "公開非公開設定", class: "form-label" %>
      <%= f.select :is_public, [["公開", true], ["非公開", false]], {}, class: "form-select" %>
    </div>
    <!-- 送信 -->
    <div class="mb-3">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
  <% end %>
</div>