

<h1>新規トレーニング投稿</h1>

<%= form_with model: @workout, local: true do |f| %>
  <div>
    <%= f.label :date, "トレーニング日" %><br>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :memo, "一言メモ" %><br>
    <%= f.text_area :memo %>
  </div>

  <div>
    <%= f.label :is_public, "公開設定" %><br>
    <%= f.select :is_public, [["公開", true], ["非公開", false]] %>
  </div>

  <h3>トレーニング詳細</h3>

  <div id="workout_details">
    <%= f.fields_for :workout_details do |detail_form| %>
      <%= render 'workout_detail_fields', f: detail_form %>
    <% end %>
  </div>

  <div>
    <button type="button" id="add_workout_detail">＋種目を追加</button>
  </div>

  <div>
    <%= f.submit "投稿" %>
  </div>

  <!-- 追加用フォームのテンプレート -->
  <script type="text/template" id="workout_detail_template">
  <%= j(
    f.fields_for(:workout_details, WorkoutDetail.new, child_index: "new_workout_details") do |detail_form|
      render('workout_detail_fields', f: detail_form)
    end
  ) %>
  </script>
<% end %>