<h1 class="text-center mb-4">管理者ログイン</h1>

<div class="d-flex justify-content-center">
  <div class="w-50"> <!-- フォームの幅を50%に設定 -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "needs-validation" }) do |f| %>
      <div class="mb-3">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, class: "form-control", required: true, autofocus: true %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, class: "form-control", required: true, autocomplete: "current-password" %>
      </div>

      <div class="mb-3 text-center">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>